

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


navbar{
    background-color: white;

}

.nav-link{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}




.nav-link:hover{
    color: black;
    background-color:pink;
}



.navbar-brand{
    font-size: 1.35rem;
    color:white;
    cursor: pointer;
    text-decoration: none;


}

.main{

    background: url("/img/msg1115405384-98264.jpg")no-repeat right;
    background-size: 750px;
}


.main h3{
    font-size: 4.4rem;
    font-weight: 700;

}


.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid white;
    width: 40%;
}


.main .bt1{
    height: 55px;
    width: 7.2rem;
    background-color: black/*rgb(233,20,109)*/;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;

}


.main .bt1:hover{
    background-color: lightpink;
    transition: 0.5s;

}

.main .bt2{
    height: 55px;
    width: 7.2rem;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;

}


.main .bt2:hover{
    background-color: lightpink;
    transition: 0.5s;
}

.about{
    background-color: #d0d0d0;
}

.about img{
    box-shadow: 6px 4px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 4px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 27px 0px rgba(0,0,0,0.75);
}

h1{
    font-size: 3rem;
    font-weight: 900;
}


.progress{
    background-color: rgb(223,219,219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}


.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progress p{
    color: white;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;

    box-shadow: 1px -3px 176px -97px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -3px 176px -97px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -3px 176px -97px rgba(0,0,0,0.75);
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

@keyframes load1 {
    0%{
        width:0;
    }
    100%{
        width: 100%;
    }

}

@keyframes load2 {
    0%{
        width:0;
    }
    100%{
        width: 100%;
    }

}
@keyframes load3 {
    0%{
        width:0;
    }
    100%{
        width: 90%;
    }

}
@keyframes load4 {
    0%{
        width:0;
    }
    100%{
        width: 25%;
    }
}



.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;

}

.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.7s;
}


.btn2{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;

}



.btn2:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.7s;
}



.card{
    border:none;
    outline: none;
    box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    height: 300px;
}



.card p{
    color:gray;
}



.circle{
    height: 70px;
    width: 70px;
    background-color: lightgray;
    color:black;
    padding:12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}


.card:hover .circle{
    background-color: black;
    color:white;
    transition: 0.5s;
}



.control ul li{
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}


.item{
    position: relative;
}

.item:hover{
    /*box-shadow: -8px 6px 109px -65px rgba(0,0,0,0.75);*/
    /*-webkit-box-shadow: -8px 6px 109px -65px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: -8px 6px 109px -65px rgba(0,0,0,0.75);*/

    box-shadow: 0px 0px 400px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 400px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 400px -18px rgba(0,0,0,0.75);

    transition: 0.5s;
}

.item span{
    position: absolute;
    top:40%;
    left: 45%;
    font-size: 40px;
    color: white;
    cursor: pointer;
    opacity: 0;

}

.item:hover span{
    opacity: 1;
    transition: 0.5s;
}


.item:before{
    content:"";
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(238,235,230,0.644);
    opacity: 0;
    position: absolute;
}


.item:hover:before{
    opacity: 0.4;
    transition: 0.3s;
}


.circle:hover{
    background-color: black;
    transition: 0.4s;
    color: white;

}



.contact .btn3{
    background-color: black;
    color: white;
    outline: none;
    border:none;
    height:40px;
    width:140px;
    border-radius: 4px;
}


.btn3:hover{
    background: transparent;
    color: black;
    border: 1px solid black;
}




footer{
    background-color: rgb(25,25,25);
    color:lightgray;
}









